@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

html {
  overflow-x: hidden;
  scroll-padding-top: 100px;
}

section {
  scroll-margin-top: 7rem;
  content-visibility: auto;
  contain-intrinsic-size: 1px 500px;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
